.profile__info {
  margin: 0 0 0 30px;
  display: grid;
  grid-template-columns: auto 1fr;
}

@media screen and (max-width: 927px) {
  .profile__info {
    margin-top: 26px;
    grid-template-columns: auto 1fr;
  }
}
